
<html>
    <head>
        <link rel="stylesheet" href="~/css/driverLobby.css" />

    </head>
    <body>
        <div>
            <h1>Mi muro</h1><br />
        </div>
        <table width="280" cellspacing="1" cellpadding="3" border="0" >
            <tr>
                <td>
                    <font color="black" face="arial, verdana, helvetica">
                        <b>Recuadro curioso con HTML</b>
                    </font>
                </td>
            </tr>
            <tr>
                <td bgcolor="#ffffcc">
                    <font face="arial, verdana, helvetica">
                        Este es el interior del recuadro. Esperamos que os resulte elegante... es muy sencillo.
                    </font>
                </td>
            </tr>
        </table>
        <!--<p>Mirar solicitudes de cupos</p>
    <label class="switch">
        <input type="checkbox">
        <div class="slider round"></div>
    </label>
    <p>Mirar ofertas de cupos</p>
    <label class="switch">
        <input type="checkbox">
        <div class="slider round"></div>
    </label>-->
    </body>
</html>

