
@{
    ViewData["Title"] = "Reservation";
}

<html>
<head>
    <link rel="stylesheet" href="~/css/table.css" />
</head>
<body>
    <form id="imageform" class="form-horizontal center-block" action="" method="post" enctype="multipart/form-data">
        <div class="container">
            <h1 class="col-sm-7  control-label">Cupos Fijos</h1>
        </div>

        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th class="container"><h3>IDA</h3></th>
                        <th class="container"><h3>VENIDA</h3></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><h4>Pepito Perez | Martes 6 am <a href="/Passenger/PassengerLobby">(ver mas)</a></h4></td>
                        <td><h4>Pepito Perez | Martes 6 pm <a href="/Passenger/PassengerLobby">(ver mas)</a></h4></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</body>
</html>