@model Carpooling.Models.Viaje

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Identity

@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager
>
<h2>Create</h2>

<h4>Viaje</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hora" class="control-label"></label>
                <input asp-for="Hora" class="form-control" />
                <span asp-validation-for="Hora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoViaje" class="control-label"></label>
                <select>
                    <option value="Ida">Ida</option>
                    <option value="Regreso">Regreso</option>
                </select>
                <span asp-validation-for="TipoViaje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" value="Disponible" readonly="readonly" required />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cupos" class="control-label"></label>
                <input asp-for="Cupos" class="form-control" type="number" min="1"/>
                <span asp-validation-for="Cupos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreConductor" class="control-label"></label>
                @{
                    SelectList currentUser = new SelectList(new List<String> { UserManager.GetUserName(User) }, "UserName");
                }
                <select asp-for="NombreConductor" class="form-control" asp-items=@currentUser ></select>
                <span asp-validation-for="NombreConductor" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
