@model Carpooling.Models.Viaje


@using Microsoft.AspNetCore.Identity

@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager
<head>
    <link rel="stylesheet" href="~/css/loginStyles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
    <style>

        body {
            margin: 0;
            background: url(../images/animado6.gif);
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
    <form asp-action="Create" class="formulario">
        <h1>Publica tu cupo</h1>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="contenedor">
            <div class="input-contenedor">
                <i class="fas fa-info-circle icon"></i>
                <input asp-for="Descripcion" type="text" placeholder="Descripción" />
            </div>
            <div class="input-contenedor">
                <i class="far fa-clock icon"></i>
                <input asp-for="Hora" type="datetime-local" placeholder="&#x231A;" />
            </div>
            <div class="input-contenedor">
                <i class="fas fa-truck-pickup icon"></i>
                <select asp-for="TipoViaje">
                    <option value="Ida">Ida</option>
                    <option value="Regreso">Regreso</option>
                </select>
            </div>
            <div class="input-contenedor">
                <i class="fas fa-star-half-alt icon"></i>
                <input asp-for="Estado" value="Disponible" readonly="readonly" required />
            </div>
            <div class="input-contenedor">
                <label># Cupos</label>
                <input asp-for="Cupos" type="number" min="1" required />
            </div>
            <div class="input-contenedor">
                <i class="fas fa-user icon"></i>
                <input asp-for="NombreConductor" value="@ViewData["conductor"]" readonly="readonly" />
            </div>

            <input type="submit" value="Publicar" class="button" />

            <p>¿Te arrepentiste? <a class="link" href="/Viajes/Index"> Vuelve al muro</a></p>
        </div>

    </form>
</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
