@model Carpooling.Models.Viaje

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Viaje</h4>
<hr />


<link rel="stylesheet" href="~/css/crearVehiculo.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<div class="row" id="container">
    <div class="col-md-4" id="hola">
        <h2>Edita tu Vehiculo</h2>
        <form asp-action="Edit" class="form__reg" id="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hora" class="control-label"></label>
                <input asp-for="Hora" class="form-control" />
                <span asp-validation-for="Hora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoViaje" class="control-label"></label>
                <input asp-for="TipoViaje" class="form-control" />
                <span asp-validation-for="TipoViaje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cupos" class="control-label"></label>
                <input asp-for="Cupos" class="form-control" />
                <span asp-validation-for="Cupos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreConductor" class="control-label"></label>
                <input asp-for="NombreConductor" class="form-control" />
                <span asp-validation-for="NombreConductor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
