@model Carpooling.Models.Viaje

<head>
    <link rel="stylesheet" href="~/css/loginStyles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
    <style>
        body {
            margin: 0;
            background-color: red;
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
    <form asp-action="Create" class="formulario" method="post">
        <h1>Solicita  tu cupo</h1>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="contenedor">
            <div class="input-contenedor">
                <i class="fas fa-info-circle icon"></i>
                <input asp-for="Descripcion" type="text" />
            </div>
            <div class="input-contenedor">
                <i class="far fa-clock icon"></i>
                <input asp-for="Hora" type="datetime-local"  />
            </div>
            <div class="input-contenedor">
                <i class="fas fa-truck-pickup icon"></i>
                <input asp-for="TipoViaje"  />
            </div>
            <div class="input-contenedor">
                <i class="fas fa-star-half-alt icon"></i>
                <input asp-for="Estado" value="Disponible" readonly="readonly" required />
            </div>
            <div class="input-contenedor">
                <label># Cupos</label>
                <input asp-for="Cupos" type="number" min="1" required />
            </div>
            <div class="input-contenedor">
                <i class="fas fa-user icon"></i>
                <input asp-for="NombreConductor" readonly="readonly" />
            </div>
            <input type="submit" value="Solicitar" class="button" />
            <p>¿Te arrepentiste? <a class="link" href="/Viajes/Index"> Vuelve al muro</a></p>
        </div>

    </form>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
