
@{
    ViewData["Title"] = "Tribu";
}

<html>
<head>
    <link rel="stylesheet" href="~/css/tribuStyle.css" />
</head>
<body>

    <div class="boxContenedor">
        <div class="buttons">
            <img class="avatar" src="~/images/profileTest.jpg" />
            <div class="das">
                <form method="post" action="/Tribu1/Create">
                    <a href="/Fiestas/Create" class="button">Tribu1</a>
                </form>
            </div>
            <div class="das">
                <form method="post" action="/Tribu2/Create">
                    <a href="/Fiestas/Create" class="button">Tribu2</a>
                </form>
            </div>
            <div class="das">
                <form method="post" action="/Tribu3/Create">
                    <a href="/Fiestas/Create" class="button">Tribu3</a>
                </form>
            </div>
        </div>
            </div>
</body>
</html>



