<html>
    <head>
        <link rel="stylesheet" href="~/css/misCupos.css"/>
    </head>
    <body>
        <div class="contenedor">
            <h1>Mis cupos</h1>
            <p>Aquí se encuentran los cupos que publicaste como los que estas inscrito</p>
        </div>
    </body>
</html>