@model Carpooling.Models.Tribu

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Microsoft.AspNetCore.Identity

@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager

<html>
    <head>
        <link rel="stylesheet" href="~/css/loginStyles.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                background: url(../images/numero.jpg);
                background-size: cover;
                background-attachment: fixed;
            }
        </style>
    </head>
    <body>
        <form asp-action="Create" class="formulario">
            <h1>Crea tu tribu</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="contenedor">
                <div class="input-contenedor">
                    <i class="fas fa-info-circle icon"></i>
                    <input asp-for="Nombre" type="text" placeholder="Nombre de la tribu" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="input-contenedor">
                    <i class="far fa-clock icon"></i>
                    <input asp-for="Descripcion" placeholder="Descripcion de la tribu" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
                <div class="input-contenedor">
                    <i class="fas fa-info-circle icon"></i>
                    <input asp-for="GeneroMusical" type="text" placeholder="Genero musical" />
                    <span asp-validation-for="GeneroMusical" class="text-danger"></span>
                </div>
                <div class="input-contenedor">
                    <i class="fas fa-info-circle icon"></i>
                    <input asp-for="Creator" value="@ViewBag.Creator" type="text" placeholder="Email del creador" />
                    <span asp-validation-for="Creator" class="text-danger"></span>
                </div>
                <input type="submit" value="Crear Tribu" class="bottom" />
                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="particles.min.js"></script>
        <script src="particulas.js"></script>
    </body>
</html>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

