@model Carpooling.Models.Tribu

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using Microsoft.AspNetCore.Identity

@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager
<html>
    <head>
        <link rel="stylesheet" href="~/css/crearVehiculo.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                margin: 0;
                background: url(../images/animado7.gif);
                background-size: cover;
                background-attachment: fixed;
            }
        </style>
    </head>
    <body>
        <div class="row" id="container">
            <div id="particles-js"></div>
            <div class="col-md-4" id="hola">
                <h2>Crear tu tribu</h2>
                <form asp-action="Create" class="form__reg" id="form">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label" style="padding: 5px; margin: 5px;"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Descripcion" class="control-label" style="padding: 5px; margin: 5px;"></label>
                        <input asp-for="Descripcion" class="form-control" />
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="GeneroMusical" class="control-label" style="padding: 5px; margin: 5px;"></label>
                        <input asp-for="GeneroMusical" class="form-control" />
                        <span asp-validation-for="GeneroMusical" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Creator" class="control-label" style="padding: 5px; margin: 5px;"></label>
                        <input asp-for="Creator" value="@ViewBag.Creator" class="form-control" />
                        <span asp-validation-for="Creator" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                    <div class="form-group">
                        <a asp-action="Index">Volver a mis tribus creadas</a>
                    </div>
                </form>
            </div>
        </div>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="particles.min.js"></script>
        <script src="particulas.js"></script>
    </body>
</html>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
