@model IEnumerable<Carpooling.Models.Tribu>

<html>
    <head>
        <link rel="stylesheet" href="~/css/TablaEstilo.css" />
        <style>
            body {
                margin: 0;
                background: url(../images/numero.jpg);
                background-size: cover;
                background-attachment: fixed;
            }
        </style>
    </head>
    <body>
        <div id="main-container">

            <h2 class="heading" align="center">Tribus a las cuales me uní</h2>

            <div>
                <a asp-action="Create" class="btn btn-info">Crear Tribu</a>
                <a asp-action="ReviewTribus" class="btn btn-info">Revisar otras tribus</a>
                <a asp-action="TribusBelong" class="btn btn-info">Tribus en las que estoy unido</a>
            </div>

            <table>
                <thead>
                    <tr>
                        <th class="nombre" style="text-align:center">
                            @Html.DisplayNameFor(model => model.First().Nombre)
                        </th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="text-align:center">
                            <div class="Trib">
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </body>
</html>