@page
@model LoginModel
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
    <link rel="stylesheet" href="~/css/loginStyles.css" />

</head>
<body>
    <form method="post" class="formulario">
        <h1>Iniciar sesión</h1>
        <div class="contenedor">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="input-contenedor">
                <i class="fas fa-envelope icon"></i>
                <input asp-for="Input.Email" placeholder="Correo Electrónico" type="email" required />
            </div>
            <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                <input asp-for="Input.Password" placeholder="Contraseña" type="password" required />
            </div>
            <input type="submit" value="Iniciar sesión" class="button" />
            <p>¿No tienes cuenta?<a class="link" href="/Identity/Account/Register"> Registrate aquí</a></p>
            <a class="link" asp-action="SingIn" asp-controller="Auth">Ingresar con Facebook</a>
        </div>
    </form>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>