
@{
    ViewData["Title"] = "Banner";
}

<html>
    <head>
        <link  rel="stylesheet" href="~/css/banner.css"/>
    </head>
    <body> <br /> <br /> <br />
        <h2>Carpooling</h2>
        <h3>Solicita tu cupo fácil y sencillo</h3>
    </body>
</html>

