@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:600|Oxygen');

body {
    background-image: url("trafico.jpg");
    background-size: 100vw 100vh;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    margin: 20px;
    color:white;
}

button {
    width: 100px;
    text-decoration: none;
    padding: 5px;
    font-weight: 600;
    font-size: 15px;
    color: #ffffff;
    background-color: #1f2021;
    border-radius: 3px;
    border: 1px solid #1f2021;
}

#button:hover {
    background: #373738;
}

.cajon2 {
    text-align: center;
    float: left;
    margin-left: 30px;
}
