@import url('https://fonts.googleapis.com/css?family=Oxygen');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:600|Oxygen');

body {
    background-image: url(/images/imageTest.png);
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    float: left;
    position: absolute;
    background-size: cover;
    font-family: sans-serif;
}

.boxContenedor .buttons .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 100px;
}

.buttons{
    margin: 20px;
    padding: 10px 0px;
}

.button {
    background: #204E5F;
    color: #fff;
    display: block;
    font-size: 1.15em;
    margin: 20px;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 4px 0px #194759;
    width: 220px;
    margin-left: 120px;
    margin-right: auto;
    margin-top: 100px;
}

.boxContenedor .buttons .das {
    background-color: black;
}

.button:hover {
    background-color: #ffc107;
     box-shadow: 0px 5px 0px #957000;
}

.boxContenedor {
    width: 1280px;
    height: 800px;
    overflow: scroll;
}