.heading {
    color : #ffffff;
}

#main-container {
    background: #ffffff;
    margin-top: 90px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.6);
}

table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
    border-radius : 15px;
}

th, td{
	padding: 20px;
}

h2 {
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}

.button {
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #093c51;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
}

.button:hover {
    background: cadetblue;
}

thead {
    background-color: #5e9dc4;
    border-bottom: solid 5px #14526b;
    color: white;
    border-radius: 15px;
}

tr:nth-child(even){
	background-color: #ddd;
    margin : 0;
}

tr:hover td {
    background-color: #14526b;
    color: white;
}

#bot:active {
    content: "Solicitado";
    background: red;
    opacity : 0.2;
    cursor : default;
}


